body {
  margin: 0;
  padding: 0;
  font-family: "Questrial";
  display: grid;
  overflow: hidden;
}


button i {
  margin-left: 3px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(8rem, 10fr));
  width: 100%;
  height: 100%;
  grid-auto-rows: 1fr;
  object-fit: cover;
  background-color: white;
}

.grid::before {
  content: '';
  width: 0;
  padding-bottom: 100%;
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.grid > *:first-child {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.grid > * {
  background-color: black;
  border: 0px;
}

div1 {
  background-color: black;
  animation: example1 1s infinite;
}

@keyframes example1 {
    0% {background-color: black;}
    50% {background-color: #7C10AD;}
    70% {background-color: black;}
    100% {background-color: black;}
}

div2 {
background-color: black;
animation: example2 5s infinite;
}

@keyframes example2 {
    0% {background-color: black;}
    50% {background-color: #FDCE72;}
    100% {background-color: black;}
}

div3 {
  background-color: black;
  animation: example3 10s infinite;
}

@keyframes example3 {
    0% {background-color: black;}
    50% {background-color: #F15802;}
    100% {background-color: black;}
}

div4 {
background-color: black;
animation: example4 15s infinite;
}

@keyframes example4 {
    0% {background-color: black;}
    50% {background-color: #48005F;}
    100% {background-color: black;}
}

div5 {
background-color: black;
animation: example5 5s infinite;
}

@keyframes example5 {
    0% {background-color: black}
    50% {background-color: #703498;}
    100% {background-color: black;}
}

div6 {
  background-color: black;
  animation: example6 25s infinite;
}

@keyframes example6 {
    0% {background-color: black;}
    50% {background-color: lightskyblue;}
    100% {background-color: black;}
}

div7 {
background-color: black;
animation: example7 30s infinite;
}

@keyframes example7 {
    0% {background-color: black;}
    50% {background-color: #D4F478;}
    100% {background-color: black;}
}
}

div8 {
background-color: white;
animation: example8 35s infinite;
}

@keyframes example8 {
    0% {background-color: black;}
    50% {background-color: #FFDEF7;}
    100% {background-color: black;}
}


div9 {
background-color: white;
animation: example9 40s infinite;
}

@keyframes example9 {
    0% {background-color: black;}
    50% {background-color: #FF5B03;}
    100% {background-color: black;}
}
}

div10 {
  background-color: white;
  animation: example10 45s infinite;
}

@keyframes example10 {
    0% {background-color: black;}
    50% {background-color: #5C0516;}
    100% {background-color: black;}
}
}

div11 {
  background-color: black;
  animation: example11 100s infinite;
}

@keyframes example11 {
    0% {background-color: black;}
    50% {background-color: #5C0516;}
    70% {background-color: black;}
    100% {background-color: black;}
}

div12 {
background-color: black;
animation: example12 5s infinite;
}

@keyframes example12 {
    0% {background-color: black;}
    50% {background-color: #D7C6E1;}
    70% {background-color: black;}
    100% {background-color: black;}
}

div13 {
background-color: black;
animation: example13 60s infinite;
}

@keyframes example13 {
    0% {background-color: black;}
    50% {background-color: #B40528;}
    100% {background-color: black;}
}
}

div14 {
  background-color: black;
  animation: example14 65s infinite;
}

@keyframes example14 {
    0% {background-color: black;}
    50% {background-color: orangered;}
    70% {background-color: black;}
    100% {background-color: black;}
}

div15 {
background-color: black;
animation: example15 70s infinite;
}

@keyframes example15 {
    0% {background-color: black;}
    50% {background-color: #C7E330;}
    70% {background-color: black;}
    100% {background-color: black;}
}

div16 {
background-color: black;
animation: example16 75s infinite;
}

@keyframes example16 {
    0% {background-color: black;}
    50% {background-color: #6F076F;}
    70% {background-color: black;}
    100% {background-color: black;}
}

div17 {
background-color: black;
animation: example17 7s infinite;
}

@keyframes example17 {
    0% {background-color: black;}
    50% {background-color: #A8B999;}
    70% {background-color: black;}
    100% {background-color: black;}
}

div18 {
background-color: black;
animation: example18 85s infinite;
}

@keyframes example18 {
    0% {background-color: black;}
    50% {background-color: #B34D33;}
    70% {background-color: black;}
    100% {background-color: black;}
}

div19 {
background-color: black;
animation: example19 90s infinite;
}

@keyframes example19 {
    0% {background-color: black;}
    50% {background-color: #4A3498;}
    70% {background-color: black;}
    100% {background-color: black;}
}

div20 {
background-color: black;
animation: example20 100s ease-in infinite;
}

@keyframes example20 {
    0% {background-color: black;}
    50% {background-color: #E45F36;}
    70% {background-color: black;}
    100% {background-color: black;}
}

div21 {
background-color: black;
animation: example21 105s infinite;
}

@keyframes example21 {
    0% {background-color: black;}
    50% {background-color: #F0691B;}
    70% {background-color: black;}
    100% {background-color: black;}
}

div22 {
background-color: black;
animation: example22 25s infinite;
}

@keyframes example22 {
    0% {background-color: black;}
    50% {background-color: #972F6E;}
    70% {background-color: black;}
    100% {background-color: black;}
}

div23 {
background-color: black;
animation: example23 115s infinite;
}

@keyframes example23 {
    0% {background-color: black;}
    50% {background-color: #FFF1AA;}
    70% {background-color: black;}
    100% {background-color: black;}
}

div24 {
background-color: black;
animation: example24 120s infinite;
}

@keyframes example24 {
    0% {background-color: black;}
    50% {background-color: #A93C00;}
    70% {background-color: black;}
    100% {background-color: black;}
}

div25 {
background-color: black;
animation: example25 125s infinite;
}

@keyframes example25 {
    0% {background-color: black;}
    50% {background-color: #9CB05C;}
    70% {background-color: black;}
    100% {background-color: black;}
}

div26 {
  background-color: black;
  animation: example26 130s infinite;

}

@keyframes example26 {
    0% {background-color: black;}
    50% {background-color: #F1CD66;}
    70% {background-color: black;}
    100% {background-color: black;}
}

div27 {
  background-color: black;
  animation: example27 135s infinite;
}

@keyframes example27 {
    0% {background-color: black;}
    50% {background-color: #B41DFD;}
    70% {background-color: black;}
    100% {background-color: black;}
}

div28 {
  background-color: black;
  animation: example28 140s infinite;
}

@keyframes example28 {
    0% {background-color: black;}
    50% {background-color: #00A68F;}
    70% {background-color: black;}
    100% {background-color: black;}
}

div29 {
  background-color: black;
  animation: example29 3s infinite;
}

@keyframes example29 {
  0% {background-color: black;}
  50% {background-color: #AEB37F;}
  70% {background-color: black;}
  100% {background-color: black;}
}

div30 {
background-color: black;
animation: example30 150s infinite;
}

@keyframes example30 {
    0% {background-color: black;}
    50% {background-color: #2FC291;}
    70% {background-color: black;}
    100% {background-color: black;}
}

div31 {
background-color: black;
animation: example31 155s infinite;
}

@keyframes example31 {
    0% {background-color: black;}
    50% {background-color: #6A4C73;}
    70% {background-color: black;}
    100% {background-color: black;}
}

div32 {
background-color: black;
animation: example32 160s infinite;
}

@keyframes example32 {
    0% {background-color: black;}
    50% {background-color: #F04863;}
    70% {background-color: black;}
    100% {background-color: black;}
}

div33 {
background-color: black;
animation: example33 1s infinite;
}

@keyframes example33 {
    0% {background-color: black;}
    50% {background-color: crimson;}
    70% {background-color: black;}
    100% {background-color: black;}
}

div34 {
background-color: black;
animation: example34 170s infinite;
}

@keyframes example34 {
    0% {background-color: black;}
    50% {background-color: #EEB063;}
    70% {background-color: black;}
    100% {background-color: black;}
}

div35 {
background-color: black;
animation: example35 5s infinite;
}

@keyframes example35 {
    0% {background-color: black;}
    50% {background-color: #DD0093;}
    70% {background-color: black;}
    100% {background-color: black;}
}

div36 {
background-color: black;
animation: example32 10s infinite;

}

@keyframes example32 {
    0% {background-color: black;}
    50% {background-color: #A6F139;}
    70% {background-color: black;}
    100% {background-color: black;}
}

div37 {
background-color: black;
animation: example32 15s infinite;
}

@keyframes example32 {
    0% {background-color: black;}
    50% {background-color: #C8B100;}
    70% {background-color: black;}
    100% {background-color: black;}
}

div38 {
background-color: black;
animation: example38 1s infinite;
}

@keyframes example38 {
    0% {background-color: black;}
    50% {background-color: red;}
    70% {background-color: black;}
    100% {background-color: black;}
}

div39 {
  background-color: black;
  animation: example5 70s infinite;
}

@keyframes example5 {
    0% {background-color: black;}
    50% {background-color: blue;}
    70% {background-color: black;}
    100% {background-color: black;}
}

div40 {
background-color: black;
animation: example40 15s infinite;
}

@keyframes example40 {
    0% {background-color: black;}
    50% {background-color: #9F0020;}
    70% {background-color: black;}
    100% {background-color: black;}
}

div41 {
  background-color: black;
  animation: example41 1s infinite;
}

@keyframes example41 {
    0% {background-color: black;}
    50% {background-color: #7C10AD;}
    70% {background-color: black;}
    100% {background-color: black;}
}

div42 {
background-color: black;
animation: example42 5s infinite;
}

@keyframes example42 {
    0% {background-color: black;}
    50% {background-color: #FDCE72;}
    100% {background-color: black;}
}

div43 {
  background-color: black;
  animation: example43 10s infinite;
}

@keyframes example43 {
    0% {background-color: black;}
    50% {background-color: #F15802;}
    100% {background-color: black;}
}

div44 {
background-color: black;
animation: example44 15s infinite;
}

@keyframes example44 {
    0% {background-color: black;}
    50% {background-color: #48005F;}
    100% {background-color: black;}
}

div45 {
background-color: black;
animation: example45 5s infinite;
}

@keyframes example45 {
    0% {background-color: black}
    50% {background-color: #703498;}
    100% {background-color: black;}
}

div46 {
  background-color: black;
  animation: example46 25s infinite;
}

@keyframes example46 {
    0% {background-color: black;}
    50% {background-color: lightskyblue;}
    100% {background-color: black;}
}

div47 {
background-color: black;
animation: example47 30s infinite;
}

@keyframes example47 {
    0% {background-color: black;}
    50% {background-color: #D4F478;}
    100% {background-color: black;}
}
}

div48 {
background-color: white;
animation: example48 35s infinite;
}

@keyframes example48 {
    0% {background-color: black;}
    50% {background-color: #FFDEF7;}
    100% {background-color: black;}
}

div49 {
background-color: black;
animation: example49 60s infinite;
}

@keyframes example49 {
    0% {background-color: black;}
    50% {background-color: #B40528;}
    100% {background-color: black;}
}
}

div50 {
  background-color: black;
  animation: example50 65s infinite;
}

@keyframes example50 {
    0% {background-color: black;}
    50% {background-color: orangered;}
    70% {background-color: black;}
    100% {background-color: black;}
}

div51 {
background-color: black;
animation: example51 70s infinite;
}

@keyframes example51 {
    0% {background-color: black;}
    50% {background-color: #C7E330;}
    70% {background-color: black;}
    100% {background-color: black;}
}

div52 {
background-color: black;
animation: example52 75s infinite;
}

@keyframes example52 {
    0% {background-color: black;}
    50% {background-color: #6F076F;}
    70% {background-color: black;}
    100% {background-color: black;}
}

div53 {
background-color: black;
animation: example53 7s infinite;
}

@keyframes example53 {
    0% {background-color: black;}
    50% {background-color: #A8B999;}
    70% {background-color: black;}
    100% {background-color: black;}
}

div54 {
background-color: black;
animation: example54 85s infinite;
}

@keyframes example54 {
    0% {background-color: black;}
    50% {background-color: #B34D33;}
    70% {background-color: black;}
    100% {background-color: black;}
}

div55 {
background-color: black;
animation: example55 90s infinite;
}

@keyframes example55 {
    0% {background-color: black;}
    50% {background-color: #4A3498;}
    70% {background-color: black;}
    100% {background-color: black;}
}

div56 {
background-color: black;
animation: example56 100s ease-in infinite;
}

@keyframes example56 {
    0% {background-color: black;}
    50% {background-color: #E45F36;}
    70% {background-color: black;}
    100% {background-color: black;}
}

div57 {
background-color: black;
animation: example57 105s infinite;
}

@keyframes example57 {
    0% {background-color: black;}
    50% {background-color: #F0691B;}
    70% {background-color: black;}
    100% {background-color: black;}
}

div58 {
background-color: black;
animation: example58 25s infinite;
}

@keyframes example58 {
    0% {background-color: black;}
    50% {background-color: #972F6E;}
    70% {background-color: black;}
    100% {background-color: black;}
}

div59 {
background-color: black;
animation: example59 115s infinite;
}

@keyframes example59 {
    0% {background-color: black;}
    50% {background-color: #FFF1AA;}
    70% {background-color: black;}
    100% {background-color: black;}
}

div.container4 p {
    margin: 0;
    padding: 15px;
    position: absolute;
    justify-content: center;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }

#sentence {
  position: absolute;
  display: inline-block;
  text-align: right;
  width: 85%;
  font-family: "Chakra Petch";
  color: black;
  font-size: 50px;
  z-index: 1000;
}

button {
  height: 30px;
  justify-content: right;
  font-family:"Questrial";
  outline: none;
  position: absolute;
  display: inline-block;
  width: 120px;
  left: 10vh;
  bottom: 5px;
  border: none;
  background-color: black;
  border: 1px solid black;
  color: white;
  transition: 500ms ease-in;
  font-size: 18px;
  z-index: 1000;
  justify-content: center;
}

button:hover {
  background-color:red;
  border: none;
}

@media screen and (max-width: 1024px) {
  .app-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50vh 50vh;
  }
}
